@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #090909;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-cinzel);
}

h1{
  background: var(--background);
  color: black;
  font-family: var(--font-bakbak);
}

a {
  color: black;
  text-decoration: none;
}

